h1,
p {
  font-family: Lato;
}
.green {
  background-color: rgb(169, 235, 169);
}
.red {
  background-color: rgb(248, 198, 198);
}
.taskCard {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px #ccc;
  padding: 0px 15px;
  margin-top: 10px;
  border-radius: 2px;
  width: 400px;
}
.closeBtn {
  float: right;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
}
